@model PagedList<Product>;
@{
    Layout = "/Views/Shared/_Layout_admin.cshtml";
}

<form id="myform">
    <input type="hidden" value="" id="productId" name="productId" />
    <div class="container w-full p-10">

        <table id="" class="th_table w-full border border-gray-500">
            <thead>
                <tr>
                    <th class="">상품이미지</th>
                    <th class="">상품코드</th>
                    <th class="">상품명</th>
                    <th class="">가격</th>
                    <th class="">카테고리</th>
                    <th class="">등록일</th>
                    <th class="">추가 또는 수정</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="w-[200px] h-[100px]">
                                @if (item.Images.Any())
                                {
                                    var imagePath = item.Images.FirstOrDefault().DirectoryPath + item.Images.FirstOrDefault().SaveFileName;
                                    <img src="@imagePath" alt="ProductImg" />
                                }
                                else
                                {
                                    <img src="https://placeholder.com/200x100/png" alt="ProductImg" class="" />
                                }
                            </div>
                        </td>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Price</td>
                        <th>@item.Category.Name</th>
                        <td>@item.RegDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            <div class="flex items-center justify-center">
                                <a asp-controller="Product" asp-action="Upsert" asp-route-id="@item.Id"
                                   class="th-dark-btn inline-block">수정</a>
                                <button onclick="Remove('@item.Id')" class="th-red-btn">삭제</button>
                            </div>

                        </td>
                    </tr>

                }
            </tbody>

        </table>

        <div class="flex justify-between mt-4">
            <div class="flex w-full">
                <input class="th-input w-2/4 px-4" />
                <button class="th-bl-btn mx-2 w-1/4 ">검색</button>
            </div>
            <div>
                @await Html.PartialAsync("~/Views/Shared/_Partial/_Paging.cshtml", Model.pagerOptions)
            </div>
        </div>

        <a asp-controller="Product" asp-action="Upsert" class="th-dark-btn">상품 추가하기</a>
        <button class="th-wh-btn my-2">나를 클릭하세요</button>
    </div>

</form>



@section Scripts {
    @await Html.PartialAsync("~/Views/Shared/_Partial/_SweetAlert.cshtml")
    <script>

        function Remove(id) {
            $("#productId").val(id);
            $('#myform').attr('method', 'post');
            $('#myform').attr('action', '/Admin/Product/Remove');
        }
    </script>
}